{% extends "base.html" %}

{% block container %}
    <div class="custom-login-form">
        <h3>CrunchRAT</h2>
        <h4>Version 2.0 - Written by @t3ntman</h3><br>
        <form action="{{ url_for('login_submit') }}" method="post">
            <!-- "Password" input -->
            <div class="form-group">
                <input type="password" class="form-control form-control-sm" name="password" placeholder="Password">
            </div>
            <!-- Submit button -->
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
{% endblock %}
